body {
  margin: 0;
   padding-top: 90px;
  font-family: Arial, sans-serif;
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  padding: 20px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  flex: 0 0 auto;
  max-width: 100px;
  padding: 8px;
}

.logo-img {
  max-width: 100%;
  height: auto;
  max-height: 90px; /* Set your desired max height for the logo */
  animation: spinLogo 2s linear infinite;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.btn {
  background-color: #F2F9FF; /* Change this to the desired page color */
  color: #007BFF; /* Set the text color of the button */
  border-radius: 50px; /* Make the button round */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.7); /* Add a glow effect */
}

/* Add a hover effect for the CTA button */
.cta-button:hover {
  background-color: #007BFF;
  color: #F2F9FF;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .cta-button {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .header {
    padding-top: 60px;
  }
}

/* Align logo to the left and other items to the right */
.navbar {
  width: 100%;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 15px;
}

.home-section {
  padding: 100px 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
 
/* Add this CSS for mobile view */
@media screen and (max-width: 768px) {
  .header {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    order: 2;
    margin-bottom: 10px;
  }

  .navbar-brand {
    order: 1; /* Change the order to make it appear first */
  }

  .navbar-toggler {
    order: 3; /* Change the order to make it appear last */
    margin-bottom: 10px;
  }

  .nav-links {
    order: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: none;
  }

  .nav-links.menu-open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
  }

  .nav-active {
    color: #007BFF;
  }

  .cta-button {
    order: 5; /* Change the order to make it appear last */
    display: block;
  }

  .navbar-collapse {
    order: 6; /* Change the order to make it appear last */
  }
}

